#friends ul,
.friends ul {
    margin: 0;
    padding: 0;
    margin-left: 60px;
    list-style: none;
}

#friends ul a,
.friends ul a {
    display: inline-block;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: var(--text);
}