.light {
    --text: #111;
    --text2: #202027;
    --background: linear-gradient(135deg, #71e4de 0%, #fdc3d6 100%);
    --item_background: rgba(255, 255, 255, 0.671);
    --glow: 0 0 10px rgb(0, 0, 0);
    --filter: invert(0) hue-rotate(0deg);
}

.dark {
    --text: #BBE1FA;
    --text2: #3282B8;
    --background: linear-gradient(125deg, #000, #01193b);
    --item_background: rgba(3, 6, 17, 0.308);
    --glow: 0 0 10px #b6eada;
    --filter: invert(1) hue-rotate(180deg);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--background);
    color: var(--text);
}

.slide a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 10px;
    cursor: pointer;
    color: var(--text)
}

.slide a::after {
    content: "";
    width: 90%;
    margin-left: 5%;
    transform: scaleX(0);
    height: 2px;
    border-radius: 1px;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle, var(--text), 98%, transparent);
    transform-origin: bottom;
    transition: transform .2s ease-out;
    position: absolute;
}

.slide a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom
}

.color2 {
    color: var(--text2) !important;
}

.contents {
    margin-top: 60vh;
}

section {
    margin-top: 20vh;
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px;
}

.title {
    margin: 20px;
    font-size: 25px;
    text-align: left;
    color: var(--text2);
}

.top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.top a img {
    width: 100%;
    height: 100%;
    filter: var(--filter);
}

footer {
    margin-top: 10vh;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: var(--text);
}

footer a {
    text-decoration: none;
    color: var(--text2);
}